body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0;
    color: aquamarine;
}
#start{
    font-size: 18px;
    color: gold;
}

#number_of_objects{
    font-size: 18px;
    color:brown;
}
.copy_right_footer{
    position:fixed;
    color:darkred;
    bottom: 1%;
    width: 100%;
    background-color:navajowhite;
    line-height: 2;
    text-align: center;
    box-shadow: 5px 5px 5px darkgoldenrod;
}
canvas{
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px cyan;
    margin-top: 80px;
}